@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Itim&display=swap');

/*------------------------------------------Colours */



/*------------------------------------------Special text */

h1 {
    font-family: 'Itim', cursive;
    font-weight: 300;
    font-size: 36px;
    padding-left: 0px;
    padding-top: 10px;
    text-align: center;
}

h2 {
    font-family: 'Itim', cursive;
    font-weight: 300;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Electrolize', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
/*
h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #245076;
}

h5,
h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
*/


/*------------------------------------------Heading */

.header {
    padding-left: 50px;
    padding-top: 10px;
    height: 100px;
    background-color: linen;
    z-index: 1;
}

/*------------------------------------------Navigation */

.navblock {
    padding-left: 20px;
    background-color: linen;
    z-index: 1;
}

.nav {
    height: 60px;
    padding: 10px;
}

a {
    color: darkslategray;
}

a:hover {
    color: #2098d1;
    text-decoration: underline;
}

/*------------------------------------------Section */

.main {
    margin-top: 30px;
    padding-top: 20px;
    /* padding-left: 20px; */
    padding-bottom: 50px;
}

img {
    width: 400px;
    padding-left: 20px;
    padding-right: 30px;
}

p {
    font-family: 'Electrolize', sans-serif;
    font-size: 1em;
    padding-left: 20px;
}

li {
    font-family: 'Electrolize', sans-serif;
    font-size: 1em;
}

/*------------------------------------------Forms */

.add-recipe-field {
    margin-bottom: 1rem;
}

.btn-type {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.type-label {
    padding-right: 20px;
}

.btn-type:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.form-control2 {
    display: inline-block;
    width: 80%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.edit-btn {
    padding-left: 30px;
    padding-bottom: 20px;
}

.submit-changes-btn {
    padding-left: 15px;
    padding-bottom: 20px;
}

.btn-light {
    color: #212529;
    background-color: linen;
    border-color: #f8f9fa;
}

.left-pad {
    padding-left: 20px;
}

/*------------------------------------------Footer */



/*------------------------------------------Media Queries */


@media screen and (max-width: 320px) {

}


@media screen and (max-width: 767px) {

}


@media screen and (max-width: 1023px) {

}


@media screen and (max-width: 1023px) and (min-width: 768px) {
    
}