@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Itim&display=swap');


/*------------------------------------------Special text */

h1 {
    font-family: 'Itim', cursive;
    font-weight: 300;
    font-size: 36px;
    padding-left: 0px;
    padding-top: 10px;
    text-align: center;
}

h2 {
    font-family: 'Itim', cursive;
    font-weight: 300;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Electrolize', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}


/*------------------------------------------Heading */

.header {
    /* padding-left: 50px; */
    padding-top: 10px; 
    height: 100px;
    width: 100%;
    background-color: linen;
    z-index: 1;
}

/*------------------------------------------Navigation */

.navblock {
    padding-left: 20px;
    background-color: linen;
    z-index: 1;
}

.nav {
    height: 60px;
    padding: 10px;
}

a {
    color: darkslategray;
}

a:hover {
    color: #2098d1;
    text-decoration: underline;
}

.navigation {
    background-color: linen;
}

#nav {
    margin: 10px;
}

#nav li {
    font-size: 14px;
    padding: 00px;
}

.navbar-nav li {
    padding: 10px;
}

.navbar {
    padding: 10px;
}

.navbar-small {
    width: 100%;
    background-color: linen;
    padding: 5px 15px 5px 15px;
}

.navbar-large {
    padding-left: 0;
    padding-right: 0;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
    color: black;
    border-color: black;
    width: 30px;
    height: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.bg-dark {
    background-color: linen!important;
}
.navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-left: 0px;
    margin: 0;
}


/*------------------------------------------Section */

.container {
    width: 100%!important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0; 
}

.main {
    margin-top: 30px;
    padding-top: 20px;
    /* padding-left: 20px; */
    padding-bottom: 50px;
}

img {
    width: 400px; 
    padding-left: 20px;
    padding-right: 30px;
}

p {
    font-family: 'Electrolize', sans-serif;
    font-size: 1em;
    padding-left: 20px;
}

li {
    font-family: 'Electrolize', sans-serif;
    font-size: 1em;
}


/*------------------------------------------Contents page */

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: linen;
    border-bottom: 1px solid linen;
}

.btn-link {
    font-weight: 400;
    color: black;
    background-color: transparent;
}

.btn-link:hover {
    color: black;
    background-color: transparent;
   
}

/*------------------------------------------Forms */

.add-recipe-field {
    margin-bottom: 1rem;
}

.btn-type {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.type-label {
    padding-right: 20px;
}

.btn-type:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.form-control2 {
    display: inline-block;
    width: 80%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.edit-btn {
    padding-left: 30px;
    padding-bottom: 20px;
}

.submit-changes-btn {
    padding-left: 15px;
    padding-bottom: 20px;
}

.btn-light {
    color: #212529;
    background-color: linen;
    border-color: #f8f9fa;
}

.left-pad {
    padding-left: 20px;
}


/*------------------------------------------Media Queries */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img {
        max-width: 250px;
        padding-left: 20px;
        padding-right: 30px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 26px;
    }
    .flex-col {
        flex: 100%;
        max-width: 100%;
    }
    .contents-recipe-name {
        width: 100%!important;
    }
    .container {
        max-width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    img {
        width: 350px;
        padding-left: 20px;
        padding-right: 30px;
    }
    .flex-col {
        flex: 100%;
        max-width: 100%;
    }
    .container {
        max-width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    img {
        width: 350px;
        padding-left: 20px;
        padding-right: 30px;
    }
    .container {
        max-width: 100%;
    }
    .main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        max-width: 180%;
    }
}