{% extends 'base.html' %}
{% block content %}

        <h2>Add A Recipe</h2>
  
            <form action="{{ url_for('insert_recipe') }}" method="POST" >
                <div class="row">
                    <div class="input-field add-recipe-field col-12">
                        <label for="recipe_name">Recipe name</label>
                        <input type="text" class="form-control" name="recipe_name" id="recipe_name" placeholder="Recipe name">
                    </div>
                </div>
                <div class="row">
                    <div class="dropdown add-recipe-field col-12">
                        <label class="type-label" for="type">Type </label>

                        <select class="btn-type col-12" id="category_name" name="category_name">
                        <option value="" disabled selected>Select drink, sweet or savoury</option>

                            {% for cat in categories %}
                            <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="row ">
                    <div class="input-field add-recipe-field col-12">
                        <label for="yield">Yield (number of servings)</label>
                        <input type="text" class="form-control" name="yield" id="yield" placeholder="Number of servings">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field add-recipe-field col-12">
                        <label for="equipment">Implements required to make it</label>
                        <input type="text" class="form-control" name="equipment" id="equipment" placeholder="Implements required to make it">
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" name="count" value="1" />
                    <div class="control-group add-recipe-field col-12" id="fields">
                        <label class="control-label" for="ingredients1">Ingredients</label>
                        <small class="left-pad">Press + or - to add or remove an ingredient</small>
                        <div class="controls" id="profs"> 
                            <form class="input-append">
                                    <input autocomplete="off" class="input form-control2" id="ingredients1" name="ingredients[]" type="text" placeholder="Add ingredient" data-items="8"/><button id="b1" class="btn add-more" type="button">+</button>       
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field add-recipe-field col-12">
                        <label for="method"> Method</label>
                        <input type="text" class="form-control" name="method" id="method" placeholder="Method">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field add-recipe-field col-12">
                        <label for="image">Image link</label>
                        <input type="text" class="form-control" name="image" id="image" placeholder="Recipe image">
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-success">Submit <i class="far fa-paper-plane"></i></button>
                </div>

            </form>


{% endblock %}