{% extends 'base.html' %}
{% block content %}

        <h2>Find a Recipe</h2>
            <div class="accordion" id="recipesAccordion">
                {% for category in categories %}
                <div class="card">
                    <div class="card-header" >
                    <h3>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne{{category._id}}" aria-expanded="true" aria-controls="collapseOne">
                            {{ category.category_name }}
                        </button>
                    </h3>
                    </div>

                    <div id="collapseOne{{category._id}}" class="collapse" aria-labelledby="headingOne" data-parent="#recipesAccordion">
                     
                        <div class="card-body">
                        {% for recipe in recipes %}   
                            {% if recipe.category_name == category.category_name %} 
                                <div class="input-append">
                                    <input autocomplete="off" class="input form-control2 contents-recipe-name" id="recipe{{loop.index-1}}" name="recipe[]" type="text" value="{{recipe.recipe_name}}" readonly/>
                                    <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="btn btn-light">View recipe</a>    
                                </div> 
                            {% endif %}
                        {% endfor %}         
                        </div>   
                    </div>
                </div>
                {% endfor %}
                
            </div>

{% endblock %}