{% extends 'base.html' %}
{% block content %}

        <h2>Edit A Recipe</h2>
  
            <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" >
                <div class="row">
                <!-- Edit recipe name -->
                    <div class="input-field add-recipe-field col-12">
                        <label for="recipe_name">Recipe name</label>
                        <input type="text" class="form-control" name="recipe_name" id="recipe_name" placeholder="Recipe name" value="{{recipe.recipe_name}}">
                    </div>
                </div>
                <div class="row">
                <!-- Edit recipe type - if already stored show the type, if not select type from dropdown -->
                    <div class="dropdown add-recipe-field col-12">
                        <label class="type-label" for="type">Type </label>

                        <select class="btn-type col-12" id="category_name" name="category_name">
                        <option value="" disabled selected>Select drink, sweet or savoury</option>

                            {% for cat in categories %}
                            {% if cat.category_name == recipe.category_name %} 
                            <option value="{{cat.category_name}}" selected>{{cat.category_name}}</option>
                            {% else %}
                            <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                            {% endif %}
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="row ">
                <!-- Edit yield -->
                    <div class="input-field add-recipe-field col-12">
                        <label for="yield">Yield (number of servings)</label>
                        <input type="text" class="form-control" name="yield" id="yield" placeholder="Number of servings" value="{{recipe.yield}}">
                    </div>
                </div>
                <div class="row">
                <!-- Edit equipment -->
                    <div class="input-field add-recipe-field col-12">
                        <label for="equipment">Implements required to make it</label>
                        <input type="text" class="form-control" name="equipment" id="equipment" placeholder="Implements required to make it" value="{{recipe.equipment}}">
                    </div>
                </div>
                <div class="row">
                <!-- Edit dynamic ingredients list -->
                    <input type="hidden" name="count" value="1" />
                    <div class="control-group add-recipe-field col-12" id="fields">
                        <label class="control-label" for="ingredients1">Ingredients</label>
                        <small class="left-pad">Press + or - to add or remove an ingredient</small>
                        <div class="controls" id="profs"> 
                            <div class="input-append">
                            {% for ingredient in recipe.ingredients %}
                                <input autocomplete="off" class="input form-control2" id="ingredientsedit{{loop.index-1}}" name="ingredients[]" type="text" value="{{ingredient}}" data-items="8"/><button id="removeedit{{loop.index-1}}" class="btn btn-danger remove-meedit" >-</button>      
                            {% endfor %}
                                <input autocomplete="off" class="input form-control2" id="ingredientsadd1" name="ingredients[]" type="text" placeholder="Add ingredient" data-items="8"/><button id="b1" class="btn add-moreadd" type="button">+</button>       
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <!-- Edit dynamic methods list -->
                    <input type="hidden" name="countmethod" value="1" />
                    <div class="control-group add-recipe-field col-12" id="methods">
                        <label class="control-label" for="method1">Method</label>
                        <small class="left-pad">Press + or - to add or remove a method</small>
                        <div class="controls" id="profs2"> 
                            <div class="input-append">
                                {% for method in recipe.methods %}
                                    <input autocomplete="off" class="input form-control2" id="methodsedit{{loop.index-1}}" name="methods[]" type="text" value="{{method}}" data-items="8"/><button id="removeeditmethod{{loop.index-1}}" class="btn btn-danger remove-meeditmethods" >-</button>      
                                {% endfor %}
                                <input autocomplete="off" class="input form-control2" id="methodsadd1" name="methods[]" type="text" placeholder="Add method" data-items="8"/><button id="mb1" class="btn add-moreaddmethod" type="button">+</button>       
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <!-- Edit image link -->
                    <div class="input-field add-recipe-field col-12">
                        <label for="image">Image link</label>
                        <input type="text" class="form-control" name="image" id="image" placeholder="Recipe image" value="{{recipe.image}}">
                    </div>
                </div>
                <div class="row submit-changes-btn">
                    <button type="submit" class="btn btn-success">Submit changes <i class="far fa-paper-plane"></i></button>
                </div>

            </form>


{% endblock %}